:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
  --logo-part-color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-bgc);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: baseline;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-part-color);
  margin-right: 93px;
}

.logo-part {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color);
}

.nav-list.current {
  color: var(--accent-color);
}

.item {
  position: relative;
  padding: 32px 0;
}

.nav-list.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: block;
}

.site-nav > .item + .item {
  margin-left: 50px;
}

.sive-nav-contact {
  margin-left: auto;
}

.list-item {
  display: flex;
}

.icons-contact {
  margin-right: 10px;
  cursor: pointer;
  fill: var(--secondary-text-color);
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.contacts:hover .icons-contact,
.contacts:focus .icons-contact {
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bgc);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bgc);
  max-width: 696px;
  margin: 0 auto;
}

.button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bgc);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.section-feature {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-features {
  display: flex;
  justify-content: center;
}

.main-features-list {
  width: 270px;
}

.main-features > .main-features-list + .main-features-list {
  margin-left: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-top: 30px;
}

.icons-features {
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.section-work {
  background: #f5f4fa;
  padding: 94px 0;
}

.section-list {
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.main-work {
  padding-bottom: 94px;
}

.work {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.example-position {
  position: relative;
}

.work-title-bottom {
  position: absolute;
  width: 100%;
  top: 224px;
  padding: 27px 0;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bgc);
  background-color: rgba(47, 48, 58, 0.8);
  cursor: pointer;
  border: none;
}

.icons-team-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 16px;
}

.icons-team-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-team-link:hover,
.icons-team-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bgc);
}

.main-team {
  display: flex;
  justify-content: space-between;
}

.photo-team {
  display: block;
}

.general {
  padding: 30px 0;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.team-position {
  color: var(--secondary-text-color);
  text-align: center;
  margin-top: 10px;
}

.section-clients {
  padding: 94px 0;
}

.icons-clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.icons-clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-clients {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-clients-link:hover,
.icons-clients-link:focus {
  border-color: var(--accent-color);
}

.icons-clients-link:hover .icons-clients,
.icons-clients-link:focus .icons-clients {
  fill: var(--accent-color);
}

.footer {
  display: flex;
  background-color: var(--secondary-bgc);
  padding: 60px 0;
}

.logo-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-part-color);
}

.logo-footer-part {
  color: var(--primary-bgc);
}

.main-address {
  margin-top: 20px;
}

.address {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bgc);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel {
  display: inline-block;
  display: flex;
  margin-top: 9px;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.address-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
  display: inline-block;
}

.icons-team-list-footer {
  display: flex;
  gap: 10px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bgc);
}

.icons-team-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.icons-footer {
  fill: var(--primary-bgc);
}

.box-flex {
  display: flex;
  align-items: baseline;
}

.support {
  margin-left: 70px;
}

.form-main {
  margin-left: auto;
}

.form-footer {
  display: flex;
  gap: 12px;
}

.input-footer {
  padding: 15px 0;
  padding-left: 16px;
  min-width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-bgc);
}

.input-footer::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button-form-footer {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.icon-form-footer {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/main/icon-send.svg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-button {
  position: absolute;
  right: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-icon {
  display: block;
  fill: var(--logo-part-color);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.form-field-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  
}

.modal-form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  
}

.form-field {
  padding-left: 0;
  width: 100%;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
}


.modal-form-text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}

.modal-label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);

}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form-field-list .form-field + .form-field {
  margin-top: 28px;
}

.textarea {
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}


.checkbox-input-box {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input-box:checked ~ .checkbox-label {
  transform: translateX(20px);
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid var(--primary-text-color);
  border-radius: 1px;
  margin-right: 8px;
 
}

.checkbox-input-box:checked +.icon-checkbox {
  background-color: var(--accent-color);
  background-image: url(../images/main/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border: none;
}

.textarea:focus {
  border-color: var(--accent-color);
}

.form-checkbox-link {
  margin-left: 5px;
  color: var(--accent-color);
}

.icon-form {
position: absolute;
top: 11px;
left: 12px;
display: block;
}

.modal-input:focus {
  padding-left: 40px;
}

.modal-input:focus {
border-color: var(--accent-color);
}

.modal-input:focus-within ~ .icon-form {
  fill: var(--accent-color);
}

/* .form-field-general:focus-within > .icon-form {
  fill: var(--accent-color);
} */

.modal-form-botton {
  display: inline-block;
}
